<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.credbook">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:label="CredBook"
        android:icon="@mipmap/credbooklogo2"
        android:roundIcon="@mipmap/credbooklogo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomerTransactionActivity" />
        <activity android:name=".TransactionActivity" />
        <activity android:name=".AddCustomerActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".CreateUserActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>